.nav-link {
            border: 0px !important;
            color: #fff;
            font-family: MetricHPE-Light;


            &.active {
                background : transparent !important;
                color: #fff !important;
                font-weight: 600 !important;
                border-bottom: 3px solid #fff !important;
            }

        &:hover {
            color: #fff !important;
        }
}
