<br />
<div class="container-fluid">
    <h4 style="text-align: center;">
        Automation Configuration
    </h4>
    <mat-divider style="background-color: lightblue;"></mat-divider>
    <div class="shirt_wrapper">
        <div class="shirt_size_form" style="margin-right: 10px;">
            <div class="card_content">
                <form>
                    <div class="row">
                        <div class="col-lg">
                            <div class="form-group">
                                <label>Select Client</label>
                                <select class="form-control" name="Client">
                                    <option>H & M</option>
                                    <option>Saudi Airlines</option>
                                    <option>Woolsworth</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg">
                            <div class="form-group">
                                <label>Select Project</label>
                                <select class="form-control" name="Environment">
                                    <option>WMS Migration</option>
                                    <option>WMS Migration Cloud</option>
                                    <option>WMS Roleout</option>
                                    <option>WMS Upgrade</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg">
                            <div class="form-group">
                                <label>Select Product</label>
                                <select class="form-control" name="Environment">
                                    <option>TMS</option>
                                    <option>WMS</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg">
                            <div class="form-group">
                                <label>Select Environment</label>
                                <select class="form-control" name="Environment">
                                    <option>Development</option>
                                    <option>Migration</option>
                                    <option>Production</option>
                                    <option>Staging</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg">
                            <div class="form-group">
                                <label>URL</label>
                                <input class="form-control" type="text" value="http://52.152.226.151:4200/" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg">
                            <div class="form-group">
                                <label>User Name</label>
                                <input class="form-control" type="text" value="" placeholder="User Name" />
                            </div>
                        </div>
                        <div class="col-lg">
                            <div class="form-group">
                                <label>Password</label>
                                <input class="form-control" type="password" value="" placeholder="Password" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-lg">&nbsp;</label>
                        <button class="btn btn-primary col-lg-1">Submit</button>
                        <label>&nbsp;</label>
                        <button class="btn btn-primary col-lg-1" style="width: 125x;">Exit </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>