<!-- <div class="offering_header">
            <span>Wipro's BlueYonder Offering</span>

            <div class="offering_header_icon">
                <img src="../../../assets/icons/yonder.svg" width="20%">
                <img src="../../../assets/icons/wipro.png" width="20%">
            </div>
        </div> -->

<div class="tco_card card_content container-fluid">
    <h4 style="text-align: center;">
        Automation Configuration
    </h4>
    <div class="row col-lg">
        &nbsp;
    </div>
    <div>

        <div class="row">
            <div class="col-lg">
                <div class="form-group">
                    <label>Select Client</label>
                    <select class="form-control" name="Client">
                        <option>CISCO</option>
                        <option>HP</option>
                        <option>Philips</option>
                    </select>
                </div>
            </div>

            <div class="col-lg">
                <div class="form-group">
                    <label>Select Project</label>
                    <select class="form-control" name="Environment">
                        <option>H & M</option>
                        <option>Saudi Airways</option>
                        <option>Woolsworth</option>
                    </select>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg">
                <div class="form-group">
                    <label>Select Product</label>
                    <select class="form-control" name="Environment">
                        <option>TMS</option>
                        <option>WMS</option>
                    </select>
                </div>
            </div>

            <div class="col-lg">
                <div class="form-group">
                    <label>Select Environment</label>
                    <select class="form-control" name="Environment">
                        <option>Development</option>
                        <option>Staging</option>
                        <option>Production</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg">
                <div class="form-group">
                    <label>URL</label>
                    <input class="form-control" type="text" value="http://52.152.226.151:4200/" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg">
                <div class="form-group">
                    <label>User Name</label>
                    <input class="form-control" type="text" value="" placeholder="User Name" />
                </div>
            </div>
            <div class="col-lg">
                <div class="form-group">
                    <label>Password</label>
                    <input class="form-control" type="password" value="" placeholder="Password" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <label class="col-lg">&nbsp;</label>
        <button class="btn btn-primary col-lg-1">Submit</button>
        <label>&nbsp;</label>
        <button class="btn btn-primary col-lg-1" style="width: 125x;">Exit </button>
    </div>
</div>