<div class="tco_progress">

    <div class="tco_progress_list">

        <ul>

            <li [ngClass]="{'currentPhase' : progressName === 'Information'}" >
                Information Gathering
                <span>1</span>
            </li>

            <li [ngClass]="{'currentPhase' : progressName === 'Client'}">
                Client Input
                <span>2</span>
            </li>

            <!-- <li [ngClass]="{'currentPhase' : progressName === 'Jda'}">
                JDA
                <span>3</span>
            </li> -->

            <li [ngClass]="{'currentPhase' : progressName === 'output'}">
                Output
                <span>3</span>
            </li>

        </ul>

    </div>


</div>


