<!-- <div class="container">
    <div class="offering_wrapper">
        <div class="offering_header">
            <span>Wipro's BlueYonder Offering</span>

            <div class="offering_header_icon">
                <img src="../../../assets/icons/yonder.svg" width="20%">
                <img src="../../../assets/icons/wipro.png" width="20%">
            </div>
        </div>
    </div>
</div> -->

<div class="tco_card card_content container-fluid">
    <h4 style="text-align: center;">Automation Environment Setup</h4>    

    <div class="row tco_card card_content">
        <!-- <div class="col-lg-1">
            &nbsp;
        </div> -->

        <div class="col-lg">
            <div class="row">
                <div class="col-lg">
                    <div class="form-group">
                        <label>Add new Project</label>

                        <input class="form-control" placeholder="Project" name="ProjectTextbox" type="text" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10">
                    &nbsp;
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <button class="btn btn-primary">Add</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <table border="2px" style="font-size: small;width: 100%">
                        <tr style="height: 40px;">
                            <td style="text-align: center;width:20%">
                                Sl. No
                            </td>
                            <td style="text-align: center;width:80%">
                                Project Name
                            </td>
                        </tr>
                        <tr style="height: 40px;">
                            <td style="text-align: center;">
                                1
                            </td>
                            <td style="text-align: center;width: 100px">
                                H & M
                            </td>

                        </tr>
                        <tr style="height: 40px;">
                            <td style="text-align: center;">
                                2
                            </td>
                            <td style="text-align: center;width: 100px">
                                Saudi Airlines
                            </td>
                        </tr>
                        <tr style="height: 40px;">
                            <td style="text-align: center;">
                                3
                            </td>
                            <td style="text-align: center;width: 100px">
                                Woolsworth
                            </td>

                        </tr>

                        <!-- <tr style="height: 40px;">
                            <td style="text-align: center;">
                                4
                            </td>
                            <td style="text-align: center;width: 100px">
                                Project 4
                            </td>
                        </tr> -->
                    </table>
                </div>
            </div>
            
        </div>
        <mat-divider [vertical]="true" style="background-color: lightblue;"></mat-divider>    

        <div class="col-lg">
            <div class="row">
                <div class="col-lg">
                    <div class="form-group">
                        <label>Add new Environment</label>

                        <input class="form-control" placeholder="Environment" name="EnvironmentTextbox" type="text" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10">
                    &nbsp;
                </div>
                <div class="col-lg-1">
                    <div class="form-group">
                        <button class="btn btn-primary">Add</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <table border="2px" style="font-size: small;width: 100%">
                        <tr style="height: 40px;">
                            <td style="text-align: center;width:20%">
                                Sl. No
                            </td>
                            <td style="text-align: center;width:80%">
                                Environment
                            </td>
                        </tr>
                        <tr style="height: 40px;">
                            <td style="text-align: center;">
                                1
                            </td>
                            <td style="text-align: center;width: 100px">
                                Dev environment
                            </td>

                        </tr>
                        <tr style="height: 40px;">
                            <td style="text-align: center;">
                                2
                            </td>
                            <td style="text-align: center;width: 100px">
                                Production Environment
                            </td>
                        </tr>
                        <tr style="height: 40px;">
                            <td style="text-align: center;">
                                3
                            </td>
                            <td style="text-align: center;width: 100px">
                                Migration Environment
                            </td>

                        </tr>

                        <tr style="height: 40px;">
                            <td style="text-align: center;">
                                4
                            </td>
                            <td style="text-align: center;width: 100px">
                                Staging Environment
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        
    </div>

    <div class="row">
        <div class="col-lg">
            <div class="row col-lg-12">
                <span style="font-weight: bolder;">Associate Project and Environment</span>
            </div>
            <mat-divider style="background-color: lightblue;"></mat-divider>

            <div class="row col-lg-12">
                &nbsp;
            </div>

            <div class="row">
                <div class="col-lg">
                    <div class="form-group">
                        <label>Select Project</label>
                        <select class="form-control" name="Project">
                            <option>H & M</option>
                            <option>Saudi Airlines</option>
                            <option>Woolsworth</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <table border="2px" style="font-size: small;width: 100%">
                        <tr style="height: 40px;">
                            <td style="text-align: center;width:5%">
                                <input type="checkbox">
                            </td>
                            <td style="text-align: center;width:80%;">
                                Environment
                            </td>
                        </tr>
                        <tr style="height: 40px;">
                            <td style="text-align: center;">
                                <input type="checkbox">
                            </td>
                            <td style="text-align: left;width: 100px;padding-left: 20px;">
                                Dev Environment
                            </td>

                        </tr>
                        <tr style="height: 40px;">
                            <td style="text-align: center;">
                                <input type="checkbox">
                            </td>
                            <td style="text-align: left;width: 100px;padding-left: 20px;">
                                Production Environment
                            </td>
                        </tr>
                        <tr style="height: 40px;">
                            <td style="text-align: center;">
                                <input type="checkbox">
                            </td>
                            <td style="text-align: left;width: 100px;padding-left: 20px;">
                                Migration Environment
                            </td>

                        </tr>

                        <tr style="height: 40px;">
                            <td style="text-align: center;">
                                <input type="checkbox">
                            </td>
                            <td style="width: 100px;padding-left: 20px;">
                                Staging Environment
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    &nbsp;
                </div>
            </div>
            <div class="row">
                <div class="col-lg-11">
                    &nbsp;
                </div>
                <div class="col-lg-1">
                    <div class="form-group">
                        <button class="btn btn-primary">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- 
    <div class="col-lg-1">
        &nbsp;
    </div> -->
</div>