<div class="tco_header">
    <div class="tco_header_brand">
        <span routerLink='../Start'>TCO CALCULATOR</span>
    </div>

    <div class="tco_sub_header">
        <div class="tco_header_heading">
            <label>Total cost of ownership (TCO) is an analysis that places a single value on the complete lifecycle of a capital purchase.</label>
            <span>This value includes every phase of ownership: acquisition, operation, and the softer costs of change management that flows down from acquisition such as documentation and training.</span>
        </div>
    </div>
</div>
