    <div class="tco_card card_content container-fluid row" >
        <div class="col-lg-4">
            <div style="align-items: flex-start; ">
                <label class="form-group">Selected Taks</label>
            </div>
        </div> 
        <div class="col-lg-8">
            <div class="form-group">
                <p>Create Appointment</p>
            </div>
        </div>
    </div>
    <mat-divider  style="background-color: white;"></mat-divider>
    <div  class="tco_card card_content container-fluid row">
        <div class="col-lg-4">
            <div style="align-items: flex-start;">
                <label class="form-group">Time taken to complete</label>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <p>1 sec</p>
            </div>
        </div>
        <!-- starts app-datamigration-header -->
        
        <div class="col-lg-4">
            <p>Total No. of Subtask</p>
        </div>
        <div class="col-lg-2">
            5
        </div>
        <!-- ends here -->
       
    </div>
    <mat-divider style="background-color: white;"></mat-divider>
    <div  class="tco_card card_content container-fluid row">
        <div class="col-lg-4">
            <p>Total No. of Pass Sub Task</p>
        </div>
        <div class="col-lg-2">
            4
        </div>

        <div class="col-lg-4">
            <div style="align-items: flex-start;">
                <label class="form-group">Total. No of failed cases</label>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <p>1</p>
            </div>
        </div>
       
    </div>
    <mat-divider style="background-color: white;"></mat-divider>
    <div class="tco_card card_content container-fluid row">
        <div class="col-lg-6">
            <p>Percentage of successful run</p>
        </div>
        <div class="col-lg-6">
            80%
        </div>
    </div>



