<div class="container">
    <div class="offering_wrapper">
        <div class="offering_header">
            <span>Wipro's BlueYonder Offering</span>

            <div class="offering_header_icon">
                <img src="../../../assets/icons/yonder.svg" width="20%">
                <img src="../../../assets/icons/wipro.png" width="20%">
            </div>
        </div>
        

        <div class="offering_content">
            <div class="row offering_list" style="height:150px">
                <div class="col-lg offering_list_item">
                    <div class="offering_list_item_header">
                        <div class="offering_list_item_header_icons">
                            <!-- <img src="../../../assets/icons/shirt.svg"> -->
                        </div>

                        <div class="offering_list_item_header_text">
                            <span style="align-content: center;">Configuration</span>
                        </div>
                    </div>

                    <div class="offering_list_item_content">
                        <p>
                            <!-- Small = 4 Months Implementation<br>
                            Medium = 6 Months Implementation<br>
                            Large = 9 Months Implementation<br>
                            Xtra Large = 12 Months Implementation                  -->
                        </p>
                    </div>

                    <div class="offering_list_item_action">
                        <button class="but but-primary" (click)="goToConfiguration()"></button>
                    </div>
                </div>
                <div class="col-lg offering_list_item">
                    <div class="offering_list_item_header">
                        <div class="offering_list_item_header_icons">
                            <!-- <img src="../../../assets/icons/calc.svg"> -->
                        </div>
                        <div class="offering_list_item_header_text">
                            <span>Task creation</span>
                        </div>
                    </div>

                    <div class="offering_list_item_content">
                        <p>                           
                        </p>
                    </div>

                    <div class="offering_list_item_action">
                        <button class="but but-primary"></button>
                    </div>
                </div>
            </div>
           
            <div class="row" style="height: 40px;">

            </div>

            <div class="row offering_list">
                <div class="col-lg offering_list_item">

                    <div class="offering_list_item_header">
                        <div class="offering_list_item_header_icons">
                            <!-- <img src="../../../assets/icons/server.svg"> -->
                       </div>
                        <div class="offering_list_item_header_text">
                            <span>Automation</span>
                        </div>
                    </div>

                    <div class="offering_list_item_content">
                        <p>
                        </p>
                    </div>

                    <div class="offering_list_item_action">
                        <button class="but but-primary" (click)="goToAutomation()"></button>
                    </div>
                </div>
                <div class="col-lg offering_list_item" style="height:150px">
                    <div class="offering_list_item_header">
                        <div class="offering_list_item_header_icons">
                            <!-- <img src="../../../assets/icons/tools.svg"> -->
                        </div>

                        <div class="offering_list_item_header_text">
                            <span>Operational Automation Dashboard</span>
                        </div>
                    </div>

                    <div class="offering_list_item_content">
                        <p>
                        </p>
                    </div>
                    <div class="offering_list_item_action">
                        <button class="but but-primary" (click)="goToOutput()"></button>
                    </div>
                </div>
            </div>
            
            <div class="row" style="height: 40px;">

            </div>

            <div class="row offering_list">
                <div class="col-lg offering_list_item">

                    <div class="offering_list_item_header">
                        <div class="offering_list_item_header_icons">
                            <!-- <img src="../../../assets/icons/server.svg"> -->
                       </div>
                        <div class="offering_list_item_header_text">
                            <span>Data Migration</span>
                        </div>
                    </div>

                    <div class="offering_list_item_content">
                        <p>
                        </p>
                    </div>

                    <div class="offering_list_item_action">
                        <button class="but but-primary" (click)="goToAutomation()"></button>
                    </div>
                </div>
                <div class="col-lg offering_list_item" style="height:150px">
                    <div class="offering_list_item_header">
                        <div class="offering_list_item_header_icons">
                            <!-- <img src="../../../assets/icons/tools.svg"> -->
                        </div>

                        <div class="offering_list_item_header_text">
                            <span>Operational Datamigration Dashboard</span>
                        </div>
                    </div>

                    <div class="offering_list_item_content">
                        <p>
                        </p>
                    </div>
                    <div class="offering_list_item_action">
                        <button class="but but-primary" (click)="goToOutput()"></button>
                    </div>
                </div>
            </div>
	
	
            <!-- Ends here -->
        </div>
    </div>
</div>