<div class="container">
    <div class="offering_wrapper">
        <div class="offering_header">
            <span>Wipro's BlueYonder Offering</span>

            <div class="offering_header_icon">
                <img src="../../../assets/icons/yonder.svg" width="20%">
                <img src="../../../assets/icons/wipro.png" width="20%">
            </div>
        </div>

        <div class="offering_content">
            <div class="row offering_list" style="height:30px">
                <div class="col-lg offering_list_item">
                    <div class="offering_list_item_header_text">
                        <span style="text-align-last: center; font-weight: bolder;">Automation</span>
                    </div>
                </div>
            </div>

            <div class="row" style="height: 70px;">

            </div>

            <div class="row offering_list">
                <div class="col-lg offering_list_item">

                    <div class="offering_list_item_header">
                        <div class="offering_list_item_header_icons">
                        </div>
                        <div class="offering_list_item_header_text">
                            <span>Environment Setup</span>
                        </div>
                    </div>

                    <div class="offering_list_item_content">
                        <p>
                        </p>
                    </div>

                    <div class="offering_list_item_action">
                        <button class="but but-primary" (click)="goToAutomationEnvironmentSetup()"></button>
                    </div>
                </div>

                <div class="col-lg offering_list_item">

                    <div class="offering_list_item_header">
                        <div class="offering_list_item_header_icons">
                        </div>
                        <div class="offering_list_item_header_text">
                            <span>Configuration</span>
                        </div>
                    </div>

                    <div class="offering_list_item_content">
                        <p>
                        </p>
                    </div>

                    <div class="offering_list_item_action">
                        <button class="but but-primary" (click)="goToAutomationConfiguration()"></button>
                    </div>
                </div>
                <div class="col-lg offering_list_item">

                    <div class="offering_list_item_header">
                        <div class="offering_list_item_header_icons">
                        </div>
                        <div class="offering_list_item_header_text">
                            <span>Task Creation</span>
                        </div>
                    </div>

                    <div class="offering_list_item_content">
                        <p>
                        </p>
                    </div>

                    <div class="offering_list_item_action">
                        <button class="but but-primary" (click)="goToAutomationTaskCreation()"></button>
                    </div>
                </div>

                <div class="col-lg offering_list_item">

                    <div class="offering_list_item_header">
                        <div class="offering_list_item_header_icons">
                        </div>
                        <div class="offering_list_item_header_text">
                            <span>Automation Process</span>
                        </div>
                    </div>

                    <div class="offering_list_item_content">
                        <p>
                        </p>
                    </div>

                    <div class="offering_list_item_action">
                        <button class="but but-primary" (click)="goToAutomation()"></button>
                    </div>
                </div>

                <div class="col-lg offering_list_item" style="height:150px">
                    <div class="offering_list_item_header">

                        <div class="offering_list_item_header_text">
                            <span>Operational Automation Dashboard</span>
                        </div>
                    </div>

                    <div class="offering_list_item_content">
                        <p>
                        </p>
                    </div>
                    <div class="offering_list_item_action">
                        <button class="but but-primary" (click)="goToOutput()"></button>
                    </div>
                </div>
            </div>

            <div class="row" style="height: 40px;">

            </div>

            <div class="row offering_list" style="height:30px">
                <div class="col-lg offering_list_item">
                    <div class="offering_list_item_header_text">
                        <span style="text-align-last: center; font-weight: bolder;">Data Migration</span>
                    </div>
                </div>
            </div>

            <div class="row" style="height: 80px;">

            </div>

            <div class="row offering_list">

                <div class="col-lg offering_list_item">

                    <div class="offering_list_item_header">
                        <div class="offering_list_item_header_icons">
                        </div>
                        <div class="offering_list_item_header_text">
                            <span>Environment Setup</span>
                        </div>
                    </div>

                    <div class="offering_list_item_content">
                        <p>
                        </p>
                    </div>

                    <div class="offering_list_item_action">
                        <button class="but but-primary" (click)="goToDataMigrationEnvironmentSetup()"></button>
                    </div>
                </div>

                <div class="col-lg offering_list_item">

                    <div class="offering_list_item_header">
                        <div class="offering_list_item_header_icons">
                        </div>
                        <div class="offering_list_item_header_text">
                            <span>Configuration</span>
                        </div>
                    </div>

                    <div class="offering_list_item_content">
                        <p>
                        </p>
                    </div>

                    <div class="offering_list_item_action">
                        <button class="but but-primary" (click)="goToDataMigrationConfiguration()"></button>
                    </div>
                </div>
                <div class="col-lg offering_list_item">

                    <div class="offering_list_item_header">
                        <div class="offering_list_item_header_icons">
                        </div>
                        <div class="offering_list_item_header_text">
                            <span>Task Creation</span>
                        </div>
                    </div>

                    <div class="offering_list_item_content">
                        <p>
                        </p>
                    </div>

                    <div class="offering_list_item_action">
                        <button class="but but-primary" (click)="goToDataMigrationTaskCreation()"></button>
                    </div>
                </div>

                <div class="col-lg offering_list_item">

                    <div class="offering_list_item_header">
                        <div class="offering_list_item_header_icons">
                        </div>
                        <div class="offering_list_item_header_text">
                            <span>Data Migration</span>
                        </div>
                    </div>

                    <div class="offering_list_item_content">
                        <p>
                        </p>
                    </div>

                    <div class="offering_list_item_action">
                        <button class="but but-primary" (click)="goToDataMigration()"></button>
                    </div>
                </div>
                <div class="col-lg offering_list_item" style="height:150px">
                    <div class="offering_list_item_header">
                        <div class="offering_list_item_header_text">
                            <span>Operational Datamigration Dashboard</span>
                        </div>
                    </div>

                    <div class="offering_list_item_content">
                        <p>
                        </p>
                    </div>
                    <div class="offering_list_item_action">
                        <button class="but but-primary" (click)="goToOutput()"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>