<div class="container">
    <div class="offering_wrapper">
        <div class="offering_header">
            <span>Wipro's BlueYonder Offering</span>

            <div class="offering_header_icon">
                <img src="../../../assets/icons/yonder.svg" width="20%">
                <img src="../../../assets/icons/wipro.png" width="20%">
            </div>
        </div>
    </div>
</div>

<div class="tco_card card_content container-fluid">
    <div class="row">
        <div class="col-lg-12">
            &nbsp;
        </div>
    </div>

    <div class="row">

        <div class="col-lg-2" style="padding-left: 30px;">
            <p>Module</p>

            <tree-root [nodes]="nodes" [options]="options"></tree-root>
        </div>
        <mat-divider [vertical]="true" style="background-color: white;"></mat-divider>
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-2">
                    <div style="align-items: flex-start;">
                        <label class="form-group">Selected Project</label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <!-- <select class="form-control" name="TShirtSizing" [(ngModel)]="tco.tShirtSizingWMS.ShirtSize"> -->
                        <select class="form-control" name="SelectedProject">
                            <option>Project 1</option>
                            <option>Project 2</option>
                            <option>Project 3</option>
                            <option>Project 4</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-2">
                    <p>Selected Module</p>
                </div>
                <div class="col-lg-4">
                    Appointment
                </div>
            </div>
            <div class="row">
                <!-- <div class="col-lg-2">
                    <div style="align-items: flex-start;">
                        <label>Source Environment</label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <input class="form-control" value="Source Environment" name="SourceEnvironmentTextbox"
                            type="text" />
                    </div>
                </div> -->

                <div class="col-lg-2">
                    <div style="align-items: flex-start;">
                        <label>Target Environment</label>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="form-group">
                        <!-- <select class="form-control" name="TShirtSizing" [(ngModel)]="tco.tShirtSizingWMS.ShirtSize"> -->
                        <input class="form-control" value="Target Environment" name="TargetEnvironmentTextbox"
                            type="text" />
                    </div>
                </div>

            </div>
            <mat-divider style="background-color: white; width: 112%; padding-left: -10px;"></mat-divider>

            <div class="row">
                <div class="col-lg-12">
                    <table border="2px" style="font-size: small;">
                        <tr style="height: 40px;">
                            <td style="width: 50px; text-align: center;">
                                <input type="checkbox" value="Select All">
                            </td>
                            <td style="text-align: center;width: 100px">
                                Task Id
                            </td>
                            <td style="text-align: center; width: 300px">
                                Task Name
                            </td>
                            <td style="text-align: center; width: 220px">
                                Template Configuration
                            </td>
                            <td style="text-align: center; width:220px">
                                Sub Task
                            </td>
                            <td style="text-align: center; width:220px">
                                Operation Summary
                            </td>
                            <td style="text-align: center; width:100px">
                                Status
                            </td>
                        </tr>
                        <!-- Starts app-datamigration-header -->
                        <tr style="height: 40px;">
                            <td style="width: 50px; text-align: center;">
                                <input type="checkbox" value="Select All">
                            </td>
                            <td style="text-align: center;width: 100px">
                                T00001
                            </td>
                            <td style="text-align: center; width: 300px">
                                Create Appointment
                            </td>
                            <td style="text-align: center; width: 220px">
                                <!-- <a href="//Automation" onclick="downloadTemplate()">Download</a> -->
                                <!-- <button (click)='downloadTemplate()'>Download</button> -->

                                <a [href]="fileUrl" download='../automation/TemplatesFiles/test.ods'>DownloadFile</a>
                            </td>

                            <td style="text-align: center; width:220px">
                                <button (click)='loadSubTask()'>Sub Task</button>
                            </td>

                            <td style="text-align: center; width:220px">
                                <button (click)='SummaryReport()'>Summary</button>
                            </td>
                            <td style="text-align: center; width:100px">
                                Completed
                            </td>
                        </tr>
                        <!-- Ends here -->

                        <!-- Starts app-datamigration-header -->
                        <tr style="height: 40px;">
                            <td style="width: 50px; text-align: center;">
                                <input type="checkbox" value="Select All">
                            </td>
                            <td style="text-align: center;width: 100px">
                                T00002
                            </td>
                            <td style="text-align: center; width: 300px">
                                Select Appointment
                            </td>
                            <td style="text-align: center; width: 220px">
                                <!-- <a href="//Automation" onclick="downloadTemplate()">Download</a> -->
                                <!-- <button (click)='downloadTemplate()'>Download</button> -->

                                <a [href]="fileUrl" download='../automation/TemplatesFiles/test.ods'>DownloadFile</a>
                            </td>

                            <td style="text-align: center; width:220px">
                                <button (click)='loadSubTask()'>Sub Task</button>
                            </td>

                            <td style="text-align: center; width:220px">
                                <button>Summary</button>
                            </td>
                            <td style="text-align: center; width:100px">
                                Completed
                            </td>
                        </tr>
                        <!-- Ends here -->

                        <!-- Starts app-datamigration-header -->
                        <tr style="height: 40px;">
                            <td style="width: 50px; text-align: center;">
                                <input type="checkbox" value="Select All">
                            </td>
                            <td style="text-align: center;width: 100px">
                                T00003
                            </td>
                            <td style="text-align: center; width: 300px">
                                Select Carrier
                            </td>
                            <td style="text-align: center; width: 220px">
                                <!-- <a href="//Automation" onclick="downloadTemplate()">Download</a> -->
                                <a [href]="fileUrl" download='../automation/TemplatesFiles/test.ods'>DownloadFile</a>
                            </td>

                            <td style="text-align: center; width:220px">
                                <button (click)='loadSubTask()'>Sub Task</button>
                            </td>

                            <td style="text-align: center; width:220px">
                                <button>Summary</button>
                            </td>
                            <td style="text-align: center; width:100px">
                                Completed
                            </td>
                        </tr>
                        <!-- Ends here -->

                        <!-- Starts app-datamigration-header -->
                        <tr style="height: 40px;">
                            <td style="width: 50px; text-align: center;">
                                <input type="checkbox" value="Select All">
                            </td>
                            <td style="text-align: center;width: 100px">
                                T00004
                            </td>
                            <td style="text-align: center; width: 300px">
                                Save Appointment
                            </td>
                            <td style="text-align: center; width: 220px">
                                <!-- <a href="//Automation" onclick="downloadTemplate()">Download</a> -->
                                <a [href]="fileUrl" download='../automation/TemplatesFiles/test.ods'>DownloadFile</a>
                            </td>

                            <td style="text-align: center; width:220px">
                                <button (click)='loadSubTask()'>Sub Task</button>
                            </td>

                            <td style="text-align: center; width:220px">
                                <button>Summary</button>
                            </td>
                            <td style="text-align: center; width:100px">
                                Completed
                            </td>
                        </tr>
                        <!-- Ends here -->
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-">
                    &nbsp;
                </div>
            </div>
            <!-- Starts here -->
            <div class="row" style="padding-left: 250px;">
                <button class="btn btn-primary">Download Template</button>
                <label>&nbsp;</label>
                <button class="btn btn-primary">Upload Template</button>
                <label>&nbsp;</label>
                <button class="btn btn-primary">Refresh</button>
                <label>&nbsp;</label>
                <button class="btn btn-primary">Process</button>
                <label>&nbsp;</label>
                <button class="btn btn-primary">Exit</button>
            </div>
            <!-- Ends here -->

            <div class="row">
                <div class="col-lg-">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>