<!-- <div class="container">
    <div class="offering_wrapper">
        <div class="offering_header">
            <span>Wipro's BlueYonder Offering</span>

            <div class="offering_header_icon">
                <img src="../../../assets/icons/yonder.svg" width="20%">
                <img src="../../../assets/icons/wipro.png" width="20%">
            </div>
        </div>
    </div>
</div> -->

<div class="tco_card card_content container-fluid">
    <!-- <div class="row">
        <div class="col-lg-12">
            &nbsp;
        </div>
    </div> -->

    <h4 style="text-align: center;">
      Automation Process
    </h4>

    <div class="row">
        <div class="col-lg-12">
            &nbsp;
        </div>
    </div>

    <div class="row">

        <div class="col-lg-2" style="padding-left: 30px;">
            <p>Select Module</p>

            <tree-root [nodes]="nodes" [options]="options"></tree-root>
        </div>
        <mat-divider [vertical]="true" style="background-color: white;"></mat-divider>
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg">
                    <div class="form-group">
                        <label>Select Client</label>
                        <select class="form-control" name="Client">
                            <option>CISCO</option>
                            <option>HP</option>
                            <option>Philips</option>
                        </select>
                    </div>
                </div>

                <div class="col-lg">
                    <div class="form-group">
                        <label>Select Project</label>
                        <select class="form-control" name="Environment">
                            <option>H & M</option>
                            <option>Saudi Airways</option>
                            <option>Woolsworth</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg">
                    <div class="form-group">
                        <label>Select Product</label>
                        <select class="form-control" name="Environment">
                            <option>TMS</option>
                            <option>WMS</option>
                        </select>
                    </div>
                </div>

                <div class="col-lg">
                    <div class="form-group">
                        <label>Select Environment</label>
                        <select class="form-control" name="Environment">
                            <option>Development</option>
                            <option>Staging</option>
                            <option>Production</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg">
                    <div class="form-group">
                        <label>Selected Module</label>
                        <input class="form-control" type="text" value="Appointment" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg">
                    <div class="form-group">
                        <label>URL</label>
                        <input class="form-control" type="text" value="http://52.152.226.151:4200/" />
                    </div>
                </div>
            </div>

            <mat-divider style="background-color: white; width: 112%; padding-left: -10px;"></mat-divider>

            <div class="row">
                <div class="col-lg-12">
                    <table border="2px" style="font-size: small;">
                        <tr style="height: 40px;">
                            <td style="width: 50px; text-align: center;">
                                <input type="checkbox" value="Select All">
                            </td>
                            <td style="text-align: center;width: 100px">
                                Task Id
                            </td>
                            <td style="text-align: center; width: 300px">
                                Task Name
                            </td>
                            <td style="text-align: center; width: 220px">
                                Template Configuration
                            </td>
                            <td style="text-align: center; width:220px">
                                Sub Task
                            </td>
                            <td style="text-align: center; width:220px">
                                Operation Summary
                            </td>
                            <td style="text-align: center; width:100px">
                                Status
                            </td>
                        </tr>
                        <!-- Starts app-datamigration-header -->
                        <tr style="height: 40px;">
                            <td style="width: 50px; text-align: center;">
                                <input type="checkbox" value="Select All">
                            </td>
                            <td style="text-align: center;width: 100px">
                                T00001
                            </td>
                            <td style="text-align: center; width: 300px">
                                Inbound Shipment
                            </td>
                            <td style="text-align: center; width: 220px">
                                <!-- <a href="//Automation" onclick="downloadTemplate()">Download</a> -->
                                <!-- <button (click)='downloadTemplate()'>Download</button> -->

                                <a [href]="fileUrl" download='../automation/TemplatesFiles/test.ods'>DownloadFile</a>
                            </td>

                            <td style="text-align: center; width:220px">
                                <button (click)='loadSubTask()'>Sub Task</button>
                            </td>

                            <td style="text-align: center; width:220px">
                                <button (click)='SummaryReport()'>Summary</button>
                            </td>
                            <td style="text-align: center; width:100px">
                                Completed
                            </td>
                        </tr>
                        <!-- Ends here -->

                        <!-- Starts app-datamigration-header -->
                        <tr style="height: 40px;">
                            <td style="width: 50px; text-align: center;">
                                <input type="checkbox" value="Select All">
                            </td>
                            <td style="text-align: center;width: 100px">
                                T00002
                            </td>
                            <td style="text-align: center; width: 300px">
                                Outbound Shipment
                            </td>
                            <td style="text-align: center; width: 220px">
                                <!-- <a href="//Automation" onclick="downloadTemplate()">Download</a> -->
                                <!-- <button (click)='downloadTemplate()'>Download</button> -->

                                <a [href]="fileUrl" download='../automation/TemplatesFiles/test.ods'>DownloadFile</a>
                            </td>

                            <td style="text-align: center; width:220px">
                                <button (click)='loadSubTask()'>Sub Task</button>
                            </td>

                            <td style="text-align: center; width:220px">
                                <button>Summary</button>
                            </td>
                            <td style="text-align: center; width:100px">
                                Completed
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-">
                    &nbsp;
                </div>
            </div>
            <!-- Starts here -->
            <div class="row" style="padding-left: 250px;">
                <button class="btn btn-primary">Download Template</button>
                <label>&nbsp;</label>
                <button class="btn btn-primary">Upload Template</button>
                <label>&nbsp;</label>
                <button class="btn btn-primary">Refresh</button>
                <label>&nbsp;</label>
                <button class="btn btn-primary">Process</button>
                <label>&nbsp;</label>
                <button class="btn btn-primary">Exit</button>
            </div>
            <!-- Ends here -->

            <div class="row">
                <div class="col-lg-">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>