.mat-tab-labels, .mat-tab-label, .mat-tab-link {
    color: white;
    font-size: 16px;
    background-color: #804A71;
  }
  
  .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
    background: white;
    height: 5px; 
  }

  .backdropBackground {
    width: 1000px;
    font-weight: bolder;
    background-color: red;
    /* your css needs */
  }