<br />
<div class="container-fluid">
    <h4 style="text-align: center;">
        Automation Task Creation
    </h4>
    <mat-divider style="background-color: lightblue;"></mat-divider>
    <div class="shirt_wrapper">
        <div class="shirt_size_form" style="margin-right: 10px;">
            <div class="card_content">
                <form>
                    <div class="row">
                        <div class="col-lg">
                            <div class="form-group">
                                <label>Select Client</label>
                                <select class="form-control" name="Client">
                                    <option>H & M</option>
                                    <option>Saudi Airlines</option>
                                    <option>Woolsworth</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg">
                            <div class="form-group">
                                <label>Select Project</label>
                                <select class="form-control" name="Environment">
                                    <option>WMS Migration</option>
                                    <option>WMS Migration Cloud</option>
                                    <option>WMS Roleout</option>
                                    <option>WMS Upgrade</option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg">
                            <div class="form-group">
                                <label>Task Name</label>
                                <input class="form-control" type="text" placeholder="Add New Task" />
                            </div>
                        </div>

                        <div class="col-lg">
                            <div class="form-group">
                                <label>Sub Task Name</label>
                                <input class="form-control" type="text" placeholder="Add New Sub Task" />
                            </div>
                        </div>

                        <div class="col-lg">
                            <div class="form-group">
                                <label>Test Name</label>
                                <input class="form-control" type="text" placeholder="Add Test Name" />
                            </div>
                        </div>

                        <div class="col-lg-1">
                            <div class="form-group">
                                <div style="padding-bottom: 10px;">&nbsp;</div>
                                <button class="btn btn-primary">Add</button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <table border="2px" style="font-size: small;">
                                <tr style="height: 40px;">
                                    <td style="text-align: center;width: 100px">
                                        Sl. No
                                    </td>
                                    <td style="text-align: center;width: 100px">
                                        Client
                                    </td>
                                    <td style="text-align: center; width: 300px">
                                        Project
                                    </td>
                                    <td style="text-align: center; width: 220px">
                                        Task
                                    </td>
                                    <td style="text-align: center; width:220px">
                                        Sub Task
                                    </td>
                                    <td style="text-align: center; width:220px">
                                        Test case name
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-7">
                            &nbsp;
                        </div>
                        <div class="col-lg">
                            <button class="btn-primary form-control">Create</button>
                        </div>
                        <div class="col-lg">
                            <button class="btn-primary form-control" (click)='EditOrUpdate()'>Update</button>
                        </div>
                        <div class="col-lg">
                            <button class="btn-primary form-control" (click)='EditOrUpdate()'>Delete</button>
                        </div>
                        <div class="col-lg">
                            <button class="btn-primary form-control">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>