<div class="container">

    <!-- <h4>Wipro Blueyonder offering</h4>

    <div class="start_wrapper">

        <div class="start_action">
            <button class="tile-button" (click)="goToHome()">Tco Calc</button>
            <button style="tile-button"   (click)="goToShirt()">Shirt Size Calc</button>
            <button style="tile-button"  >Shirt Size Calc</button>    
            <button style="tile-button"   >Shirt Size Calc</button>        
        </div>

    </div> -->

    <div class="offering_wrapper">


        <div class="offering_header">
            <span>Wipro's BlueYonder Offering</span>

            <div class="offering_header_icon">
                <img src="../../../assets/icons/yonder.svg" width="20%">
                <img src="../../../assets/icons/wipro.png" width="20%">
            </div>
        </div>

        <div class="offering_content">

            <ul class="offering_list">

                <li class="offering_list_item">

                    <div class="offering_list_item_header">

                        <div class="offering_list_item_header_icons">
                            <img src="../../../assets/icons/shirt.svg">
                        </div>

                        <div class="offering_list_item_header_text">
                            <span>Shirt Sizing Calculator</span>
                        </div>

                    </div>

                    <div class="offering_list_item_content">

                        <p>
                            Small = 4 Months Implementation<br>
                            Medium = 6 Months Implementation<br>
                            Large = 9 Months Implementation<br>
                            Xtra Large = 12 Months Implementation                 
                        </p>

                    </div>

                    <div class="offering_list_item_action">

                        <button (click)="goToShirt()"></button>

                    </div>

                </li>

                <li class="offering_list_item">

                    <div class="offering_list_item_header">


                        <div class="offering_list_item_header_icons">
                            <img src="../../../assets/icons/calc.svg">
                        </div>

                        <div class="offering_list_item_header_text">
                            <span>TCO Analysis</span>
                        </div>

                    </div>

                    <div class="offering_list_item_content">

                        <p>
                            Total cost of ownership (TCO) is an 
                            analysis that places a single value on 
                            the complete lifecycle of a capital 
                            purchase. This value includes every 
                            phase of ownership: acquisition, 
                            operation, and the softer costs of 
                            change management that flows down 
                            from acquisition such as 
                            documentation and training.                            
                        </p>

                    </div>

                    <div class="offering_list_item_action">

                        <button (click)="goToHome()"></button>

                    </div>

                </li>

           
                <li class="offering_list_item">

                    <div class="offering_list_item_header">

                        <div class="offering_list_item_header_icons">
                            <img src="../../../assets/icons/server.svg">
                        </div>

                        <div class="offering_list_item_header_text">
                            <span>SCM Command Center</span>
                        </div>

                    </div>

                    <div class="offering_list_item_content">

                        <p>
                             
                            
                             
                        </p>

                    </div>

                    <div class="offering_list_item_action">

                        <button (click)="goToShirt()"></button>

                    </div>

                </li>

                <li class="offering_list_item">

                    <div class="offering_list_item_header">

                        <div class="offering_list_item_header_icons">
                            <img src="../../../assets/icons/tools.svg">
                        </div>

                        <div class="offering_list_item_header_text">
                            <span>Migration Factory</span>
                        </div>

                    </div>

                    <div class="offering_list_item_content">

                        <p>
                                        
                        </p>

                    </div>

                    <div class="offering_list_item_action">

                        <button (click)="goToShirt()"></button>

                    </div>

                </li>


            </ul>

        </div>


    </div>



</div>
