<div class="tco_footer">
    <!-- <app-tco-footer ></app-tco-footer> -->
    <button  class="but but-primary previous" routerLink="" ></button>
    <button class="but but-primary" (click)="goToLogin()"></button>
</div>

<div class="client_wrapper">



    <div class="client_information">



        <div class="tco_card">

            <div class="card_header">
                <span>Client Information</span>
            </div>

            <div class="card_content">

                <form>
                    <div class="form-group">
                        <label>Client Name</label>
                        <input class="form-control" type="text" name="ClientName"  [(ngModel)] = "tco.beginPage.clientName" >
                    </div>

                    <!-- <div class="form-group">
                        <label>URL</label>
                        <input class="form-control" type="text" name="ClientUrl" [(ngModel)] = "tco.beginPage.clientUrl">
                    </div> -->

                    <div class="form-group">
                        <label>First Name</label>
                        <input class="form-control" type="text" name="ClientFirstName" [(ngModel)] = "tco.beginPage.clientFirstName">
                    </div>

                    <div class="form-group">
                        <label>Last Name</label>
                        <input class="form-control" type="text" name="ClientLastName" [(ngModel)] = "tco.beginPage.clientLastName">
                    </div>

                    <div class="form-group">
                        <label>Email</label>
                        <input class="form-control" type="text" name="ClientEmail" [(ngModel)] = "tco.beginPage.clientEmail"> 
                    </div>

                    <div class="form-group">
                        <label>Phone</label>
                        <input class="form-control" type="text"  name="ClientPhone" [(ngModel)] = "tco.beginPage.clientPhone">
                    </div>

                </form>

            </div>

        </div>
        
    </div>

    <div class="jda_information">

        <div class="tco_card">

            <div class="card_header">
                <span>JDA Information</span>
            </div>

            <div class="card_content">
                <form>
                    <div class="form-group">
                        <label>Customer Name</label>
                        <input class="form-control" type="text" name="CustomerName" [(ngModel)] = "tco.beginPage.customerName">
                    </div>

                    <!-- <div class="form-group">
                        <label>URL</label>
                        <input class="form-control" type="text"  name="CustomerUrl" [(ngModel)] = "tco.beginPage.customerUrl">
                    </div> -->

                    <div class="form-group">
                        <label>First Name</label>
                        <input class="form-control" type="text" name="CustomerFirstName" [(ngModel)] = "tco.beginPage.customerFirstName">
                    </div>

                    <div class="form-group">
                        <label>Last Name</label>
                        <input class="form-control" type="text" name="CustomerLastName" [(ngModel)] = "tco.beginPage.customerLastName">
                    </div>

                    <div class="form-group">
                        <label>Email</label>
                        <input class="form-control" type="text" name="CustomerEmail" [(ngModel)] = "tco.beginPage.customerEmail">
                    </div>

                    <div class="form-group">
                        <label>Phone</label>
                        <input class="form-control" type="text" name="CustomePhoneNo" [(ngModel)] = "tco.beginPage.customerPhone">
                    </div>

                </form>
            </div>

        </div>

    </div>

</div>

<div class="tco_footer">
    <!-- <app-tco-footer ></app-tco-footer> -->
    <button  class="but but-primary previous" routerLink=""  ></button>
    <button class="but but-primary" (click)="goToLogin()"></button>
</div>