.tco_card {
    background-color:  #333;
    color: #fff;
    
    .card_header {
        padding: 16px;
        display: flex;
        justify-content:flex-start;
        border-bottom: 1px solid #232323;
 
        height: 50px;
    }

    .card_content{
        padding: 20px;
    }

}