<br />
<div class="container-fluid">
    <h4 style="text-align: center;">
        Datamigration Environment Setup
    </h4>
    <mat-divider style="background-color: lightblue;"></mat-divider>
    <div class="shirt_wrapper">
        <div class="shirt_size_form" style="margin-right: 10px;">
            <div class="card_content">
                <form>
                    <div class="form-group">
                        <label>Client</label>
                        <input class="form-control" type="text" name="ClientTextbox" placeholder="Client Name" style="height:30px ;" />
                    </div>

                    <div class="form-group">
                        <label>Project</label>
                        <input class="form-control" type="text" name="ProjectTextbox" placeholder="Project Name" style="height:30px ;" />
                    </div>

                    <div class="form-group">
                        <label>Environment</label>
                       <table border="2px" style="font-size: small;width: 100%">
                            <tr style="height: 30px;">
                                <td style="width:50px;text-align:center"><input type="checkbox"></td>
                                <td style="text-align:center">Environment</td>
                                <td style="text-align:center">Database Server</td>
                            </tr>

                            <tr style="height: 30px;">
                                <td style="width:50px;text-align:center"><input type="checkbox"></td>
                                <td style="text-align:center">Dev Environment</td>
                                <td><input class="form-control" type="text" placeholder="Database Server" style="margin-left: 5px; margin-top:5px; margin-bottom: 5px;  width:99%;height: 30px;"></td>
                            </tr>

                            <tr style="height: 30px;">
                                <td style="width:50px;text-align:center"><input type="checkbox"></td>
                                <td style="text-align:center">Production Environment</td>
                                <td><input class="form-control" type="text" placeholder="Database Server" style="margin-left: 5px; margin-top:5px; margin-bottom: 5px;width:99%;height: 30px;"></td>
                            </tr>

                            <tr style="height: 30px;">
                                <td style="width:50px;text-align:center"><input type="checkbox"></td>
                                <td style="text-align:center">Staging Environment</td>
                                <td><input class="form-control" type="text" placeholder="Database Server" style="margin-left: 5px; margin-top:5px; margin-bottom: 5px;  width:99%;height: 30px;"></td>
                            </tr>
                            <tr style="height: 40px;">
                                <td style="width:50px;text-align:center"><input type="checkbox"></td>
                                <td style="text-align:center">Migration Environment</td>
                                <td><input class="form-control" type="text" placeholder="Database Server" style="margin-left: 5px; margin-top:5px; margin-bottom: 5px;  width:99%;height: 30px;"></td>
                            </tr>
                        </table>
                    </div>
                   <div class="row">
                        <div class="col-lg-7">
                            &nbsp;
                        </div>
                        <div class="col-lg" >
                            <button class="btn-primary form-control">Create</button>
                        </div>
                        <div class="col-lg">
                            <button class="btn-primary form-control" (click)='EditOrUpdate()'>Update</button>
                        </div>
                        <div class="col-lg">
                            <button class="btn-primary form-control" (click)='EditOrUpdate()'>Delete</button>
                        </div>
                        <div class="col-lg">
                            <button class="btn-primary form-control">Cancel</button>
                        </div>
                    </div>
                </form>                
            </div>
        </div>
    </div>
 </div>