<!-- <div class="container">
  <div class="offering_wrapper">
    <div class="offering_header">
      <span>Wipro's BlueYonder Offering</span>

      <div class="offering_header_icon">
        <img src="../../../assets/icons/yonder.svg" width="20%">
        <img src="../../../assets/icons/wipro.png" width="20%">
      </div>
    </div>
  </div> -->

<div style="padding-left: 40px; padding-right: 30px;">
  <h4 style="text-align: center;">
      Datamigration Operation Dashboard
  </h4>

  <div class="row">
    <div class="col-lg">
      <div class="form-group">
        <label>Select Client</label>
        <select class="form-control" name="Client">
          <option>CISCO</option>
          <option>HP</option>
          <option>Philips</option>
        </select>
      </div>
    </div>

    <div class="col-lg">
      <div class="form-group">
        <label>Select Project</label>
        <select class="form-control" name="Environment">
          <option>H & M</option>
          <option>Saudi Airways</option>
          <option>Woolsworth</option>
        </select>
      </div>
    </div>

    <div class="col-lg">
      <div class="form-group">
        <label>Select Product</label>
        <select class="form-control" name="Environment">
          <option>TMS</option>
          <option>WMS</option>
        </select>
      </div>
    </div>

    <div class="col-lg">
      <div class="form-group">
        <label>Select Environment</label>
        <select class="form-control" name="Environment">
          <option>Development</option>
          <option>Staging</option>
          <option>Production</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg">
      <div class="form-group">
        <label>Last run by</label>
        <select class="form-control" name="Environment">
          <option>2020-08-01 11:00</option>
          <option>2020-08-02 11:00</option>
          <option>2020-08-03 11:00</option>
        </select>
      </div>
    </div>

    <div class="col-lg">
      <div class="form-group">
        <label>Log or error location</label>
        <input type ="text"  class="form-control" placeholder="Log or error file link" />
        <!-- <select class="form-control" name="Environment">
          <option>2020-08-01 11:00</option>
          <option>2020-08-02 11:00</option>
          <option>2020-08-03 11:00</option>
        </select> -->
      </div>
    </div>
  </div>
  <mat-divider [vertical]="true" style="background-color: white;"></mat-divider>

  <div class="row" style="font-size: larger;">

    <div class="col-lg tco_card" style="background-color: darkcyan;">
      <div class="card_header" style="width: 200px">
        <label>Total No. of run</label>
      </div>

      <div class="row">
        <div class="card_header col-lg-3">
        </div>
        <div class="card_header col-lg-6" style="font-size: larger;">
          <label>100</label>
        </div>
        <div class="card_header col-lg-3">
        </div>
      </div>
    </div>
    <mat-divider [vertical]="true" style="background-color: white;"></mat-divider>
    <div class="col-lg tco_card" style="background-color: lightseagreen;width: 200px">
      <div class="card_header">
        <label>Total No. of Pass run</label>
      </div>

      <div class="row">
        <div class="card_header col-lg-3">
        </div>
        <div class="card_header col-lg-6" style="font-size: larger;">
          <label>100</label>
        </div>
        <div class="card_header col-lg-3">
        </div>
      </div>
    </div>
    <mat-divider [vertical]="true" style="background-color: white;"></mat-divider>
    <div class="col-lg tco_card" style="background-color: lightsalmon; width: 200px">
      <div class="card_header">
        <label>Total No. of Fail run</label>
      </div>

      <div class="row">
        <div class="card_header col-lg-3">
        </div>
        <div class="card_header col-lg-6" style="font-size: larger;">
          <label>0</label>
        </div>
        <div class="card_header col-lg-3">

        </div>
      </div>
    </div>
    <mat-divider [vertical]="true" style="background-color: white;"></mat-divider>
    <div class="col-lg tco_card" style="background-color: lightseagreen; width: 200px">
      <div class="row">
        <div class="card_header col-lg-1">
        </div>
        <div class="card_header col-lg" style="font-size: larger;">
          <label>% of pass run</label>
        </div>
      </div>

      <div class="row">
        <div class="card_header col-lg-3">
        </div>
        <div class="card_header col-lg-6" style="font-size: larger;">
          <label>100 %</label>
        </div>
        <div class="card_header col-lg-3">
        </div>
      </div>
    </div>
  </div>

  <div class="card_content container-fluid row">
    <div class="col-lg-6 tco_card">
      <table border="2px" style="font-size: small;">
        <tr style="height: 40px;">
          <td style="text-align: center;width: 100px">
            Sub Task Id
          </td>
          <td style="text-align: center; width: 300px">
            Sub Task Name
          </td>
          <td style="text-align: center; width:100px">
            Status
          </td>
        </tr>
        <!-- Starts app-datamigration-header -->
        <tr style="height: 40px;">

          <td style="text-align: center;width: 100px">
            T00001
          </td>
          <td style="text-align: center; width: 300px">
            Select the door set
          </td>
          <td style="text-align: center; width:100px">
            Completed
          </td>
        </tr>
        <tr style="height: 40px;">

          <td style="text-align: center;width: 100px">
            T00001
          </td>
          <td style="text-align: center; width: 300px">
            Select the Door tab
          </td>
          <td style="text-align: center; width:100px">
            Completed
          </td>
        </tr>

        <tr style="height: 40px;">

          <td style="text-align: center;width: 100px">
            T00001
          </td>
          <td style="text-align: center; width: 300px">
            Select the Shipment
          </td>
          <td style="text-align: center; width:100px">
            Completed
          </td>
        </tr>

        <tr style="height: 40px;">

          <td style="text-align: center;width: 100px">
            T00001
          </td>
          <td style="text-align: center; width: 300px">
            Select the Carrier
          </td>
          <td style="text-align: center; width:100px">
            Completed
          </td>
        </tr>

        <tr style="height: 40px;">

          <td style="text-align: center;width: 100px">
            T00001
          </td>
          <td style="text-align: center; width: 300px">
            Select the Equipment
          </td>
          <td style="text-align: center; width:100px">
            Completed
          </td>
        </tr>
        <!-- Ends here -->
      </table>
    </div>
    <!-- starts here -->
    <div class="col-lg-6 tco_card" style="padding-right: -50px;">
      <!-- New starts app-datamigration-header -->
      <div class="row">
        <div class="col-lg-4">
          <div style="align-items: flex-start; ">
            <label class="form-group">Selected Task</label>
          </div>

        </div>

        <div class="col-lg-8">
          <mat-divider [vertical]="true" style="background-color: white;"></mat-divider>
          <div class="form-group">
            <p>Create Appointment</p>
          </div>
        </div>
      </div>
      <mat-divider style="background-color: white;"></mat-divider>
      <!-- new ends here -->

      <!-- Latest starts here -->
      <div class="row">
        <div class="col-lg-4">
          <div style="align-items: flex-start;">
            <label class="form-group">Time taken to complete</label>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="form-group">
            <p>1 sec</p>
          </div>
        </div>
        <!-- starts app-datamigration-header -->

        <div class="col-lg-4">
          <p>Total No. of Subtask</p>
        </div>
        <div class="col-lg-2">
          5
        </div>
        <!-- ends here -->

      </div>
      <mat-divider style="background-color: white;"></mat-divider>
      <div class="row">
        <div class="col-lg-4">
          <p>Total No. of Pass Sub Task</p>
        </div>
        <div class="col-lg-2">
          4
        </div>

        <div class="col-lg-4">
          <div style="align-items: flex-start;">
            <label class="form-group">Total. No of failed cases</label>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="form-group">
            <p>1</p>
          </div>
        </div>

      </div>
      <mat-divider style="background-color: white;"></mat-divider>
      <div class="row">
        <div class="col-lg-6">
          <p>Percentage of successful run</p>
        </div>
        <div class="col-lg-6">
          80%
        </div>
      </div>
      <!-- Latest ends here -->
    </div>
    <!-- Ends here -->
  </div>

  <mat-divider style="background-color: white; width:99%; padding-left: -50px;"></mat-divider>
  <div>

    <div class=" card_content row" style="padding-left: 25px; padding-right: 14px;">

      <div class="col-lg">
        <div class="tco_card">
          <div class="card_header">
            Test run status
          </div>
          <div class="card_content" width="75%" style="padding:130px !important">
            <canvas baseChart [colors]="chartColors" [chartType]="'line'" [datasets]="chartData" [labels]="chartLabels"
            [options]="chartOptions" [legend]="true">
              <!-- [options]="chartOptions" [legend]="true" (chartClick)="onChartClick($event)"> -->
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
