<div class="tco_card card_content container-fluid row">
    <div class="col-lg-12">
        <table border="2px" style="font-size: small;">
            <tr style="height: 40px;">
               
                <td style="text-align: center;width: 100px">
                    Sub Task Id
                </td>
                <td style="text-align: center; width: 300px">
                    Sub Task Name
                </td>
                 <td style="text-align: center; width:100px">
                    Status
                </td>
            </tr>
            <tr style="height: 40px;">
               
                <td style="text-align: center;width: 100px">
                    TS00001
                </td>
                <td style="text-align: center; width: 300px">
                    Select the door set
                </td>
                <td style="text-align: center; width:100px">
                    Completed
                </td>
            </tr>
            <tr style="height: 40px;">
               
                <td style="text-align: center;width: 100px">
                    TS00002
                </td>
                <td style="text-align: center; width: 300px">
                    Select the Door tab
                </td>
                <td style="text-align: center; width:100px">
                    Completed
                </td>
            </tr>

            <tr style="height: 40px;">
               
                <td style="text-align: center;width: 100px">
                    TS00003
                </td>
                <td style="text-align: center; width: 300px">
                    Select the Shipment
                </td>
                <td style="text-align: center; width:100px">
                    Completed
                </td>
            </tr>

            <tr style="height: 40px;">
               
                <td style="text-align: center;width: 100px">
                    TS00004
                </td>
                <td style="text-align: center; width: 300px">
                    Select the Carrier
                </td>
                <td style="text-align: center; width:100px">
                    Completed
                </td>
            </tr>

            <tr style="height: 40px;">
               
                <td style="text-align: center;width: 100px">
                    TS00005
                </td>
                <td style="text-align: center; width: 300px">
                    Select the Equipment
                </td>
                <td style="text-align: center; width:100px">
                    Completed
                </td>
            </tr>
           </table>
    </div>
</div>